* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
.body {
    display: flex;
    justify-content: center;
    background-color: #2F2F2F;
}
.outer {
    width: 75%;
    height: 100%;
    background-color: white;
    margin-top: 2vh;
    border: 0.125rem solid grey;
    min-width: 25rem;
}
//Navbar start

.navbar {
    background-color: #353A3F;
    display: flex;
    justify-content: center !important;
}
.navbar-inner {
    width: 92%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo, .bi {
    color: white;
}
.bi-plus-lg, .bi-trash {
    color: #353A3F;
}
.bi {
    font-size: 1.5em;
}
.bi:hover {
    cursor: pointer;
}
.dropdown-item:hover {
    cursor: pointer;
}

//Navbar end

//Left side start
.col-3 {
    width: 100%;
    height: 100vh;
    background-color: #F8F9FA;
}
.make-new-list {
    width: 100%;
    height: 2.5rem;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    border: 0.0625rem solid black;
}
.new-list-name {
    width: 85%;
    height: 100%;
    border-radius: 0;
    border: none;
}
.add-new-list {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 0.0625rem solid black;
}
.add-new-list:hover {
    cursor: pointer;
}
.list-group-item {
    border-radius: 0 !important;
} 
.lists-list, .task-list {
    margin-top: 4vh;
}
.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
//Left side end

//Right side start
.col-9 {
    display: flex;
    justify-content: center;
}
.inner {
    width: 96%;
    height: 100%;
}
.current-list {
    margin-top: 4vh;
    font-size: 3rem;
    border-bottom: 1px solid grey;
}
.new-task {
    display: flex;
    align-items: center;
}
.add-task {
    width: 1.875rem;
    height: 100%;
}
.add-task:hover {
    cursor: pointer;
}
.task-item-check {
    margin-right: 1rem;
}
.task {
    display: flex;
}
.task-item-check {
    margin-right: 1rem;
}
.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}